.home{ 
    display: flex;
}
.lefthomepage{
    width: 1200px;
    height: 100vh;
}

.welcomemessage {
    
   top:60%;
   left: 25%;
   color: black;
   position:absolute;
   font-size: 30px;
}
.button-hireme{
    top:75%;
    left: 40%;
    color: black;
    position:absolute;
    
}
.button-hireme button{
    background-color: #ffffff;
    border-bottom-right-radius: 20px;
    width: 150px;
    height: 50px;
    border:3px solid rgba(7, 7, 7, 0.6);
    font-weight:bold ;
    font-size:16px;

}
.img-luffy {
    position: absolute;
    left: 62%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  .img-luffy img {
    width: 300px;
    height: auto;
  }
  .righthomepage {
    width: 600px;
    background-color: #4fc3f7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
  }
  .name {
    writing-mode: vertical-rl;
    transform: rotate(360deg);
    font-size: 52px;
    left: 40%;
    bottom: 6%;
    position: relative;
    text-decoration: double;
    font-weight: bold;
    
    
  }
  .name span#first {
    margin-bottom:5px;
    color: #000000;
}
.name span#second {
    color: #ffffff;
}
  